{% load bootstrap4 %}
{% include 'base.html' %}

{% block content %}

<div class="container">
    <h2 class="text-center">Sign up</h2>

  <div class="row">
    <!-- Empty div -->
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
              <p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                  <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %}
              </p>
            {% endfor %}
            <button class="btn btn-outline-success" type="submit">Sign up</button>
          </form>
    </div>
    <!-- empty div -->
    <div class="col-md-3"></div>
  </div>
</div>

{% endblock %}
